/* Estilos Globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Estilos para Navbar */
  .navbar {
    background-color: #0ab1b1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 100%;
  }
  /* Estilos para Footer */
  .footer {
    background-color: #D9D9D9;
    color: #000;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos para Inicio */
  .principal {
    padding: 20px;
  }
  
  /* Estilos para Login */
  .login-container {
    padding: 20px;
  }
  
  /* Estilos para Registro */
  .registro-container {
    padding: 20px;
  }
  
  /* Estilos para Nosotros */
  .nosotros-container {
    padding: 20px;
  }
  /* Estilos para Formulario en Login */
  .login-form {
    margin-top: 20px;
  }
  
  /* Estilos para Tarjetas en Nosotros */
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }